.form-group {
    margin-bottom: 12px;
}
.input-box{
    border: 1px solid #8695a7;
    background: #f0f7ff;
    margin-top: 5px;
    font: 500 15px/1.2 Roboto;
    padding: 11px 12px;
    color: #000;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: .5s ease;
    border-radius: 0;
    max-width: 355px;
}
.submit-btn{
    width: 100%;
}
.submit-button{
    font-size: 15px;
    height: 50px;
    padding: 0 10px;
    background: #004979;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    width: 100%;
    max-width: 446px;
    cursor: pointer;
    font: 500 16px/1.2'Roboto';
}


.forgot-password {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-form {
    width: 380px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  
  .forgot-password-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #000;
  }
  .forgot-password-subtext{
    color:#000;
  }